<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> <%= @user.last_name %> Un participant viens de s'inscrire a votre event!</h1>
    <p>
      un utilisateur viens de s'inscrire a votre event.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur eventbrite !
  </body>
</html>